/log/*
/tmp/*
.env*

!/**/.keep
!.env*.sample

coverage/

.DS_Store
.rvm*
.rbenv*
.idea*
.vscode*
*.sublime-project
*.sublime-workspace
.sass-cache
Thumbs.db
ehthumbs.db
*.DS_Store
.docker-sync*
*.swp
*~
.ignore
